  
  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 100%;
    width: 100%;
    gap: 10px;
  }
  
  .grid-item {
    border-radius: 8px;
    background-color: var(--bg-color-2);
    padding: 5px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    grid-column: auto/span 1;
    grid-row: auto/span 1;
  }

  .grid-item.chart {
    grid-column: auto/span 1;
    grid-row: auto/span 1;
    padding: 15px 20px;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color-1);
  }

  .grid-item.forecast {
    border: 1.5px solid var(--bg-color-2);
    border-radius: 5px;
    grid-column: auto/span 1;
    grid-row: auto/span 1;
    background-color: var(--bg-color-1);
    padding: 20px 5px;

  }

  .forecast-form-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }

  .forecast-btn {
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    padding: 4px 8px;
    color: var(--txt-color-2);
    background-color: var(--bg-color-2);
  }

  .forecast-btn.active,
  .forecast-btn:hover{
    cursor: pointer;
    padding: 4px 10px;
    background-color: var(--txt-color-1);
    color: var(--bg-color-1);
    transition: all 0.1s ease-in-out;
  }

  .bubble-chart-wrapper {
    width: 100%;
    height: 100%;
    margin: 10px 0px;
  }

  .interval-chart-wrapper {
    width: 100%;
    height: 100%;
    margin: 10px 0px;
  }
  
  .heatmap-chart-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  
  #heatmapChart {
    width: 98%;
    height: 98%;
  }

  @media (min-width: 577px) {
    .grid {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(8, 1fr);
    }
  
    .grid-item.chart {
      grid-column: auto/span 11;
      grid-row: auto/span 4;
      padding: 25px 5px;
    }
  
    .grid-item.forecast {
      grid-column: auto/span 1;
      grid-row: auto/span 4;
      padding: 10px 15px;
    }
  
    .grid-item.analysis {
      grid-column: auto/span 4;
      grid-row: auto/span 4;
    }
  }

 



  