:root {
    /* Fonts */
    --primary-font: "Roboto", serif;

    /* Defualt Theme: Light */
    --bg-color-1: #FFFFFF;
    --bg-color-2: #E5E5E5;
    --txt-color-1: black;
    --txt-color-2: black;
    --accent-color: #0069C3;

    /* Light Colors */
    --bg-color-1-light: #FFFFFF;
    --bg-color-2-light: #E5E5E5;
    --txt-color-1-light: black;
    --txt-color-2-light: black;

    /* Dark Colors */
    --bg-color-1-dark: #0A0A0A;
    --bg-color-2-dark: #1B1B1B;
    --txt-color-1-dark: #fff;
    --txt-color-2-dark: #686868;
  }

* {
  box-sizing: border-box;
  margin: 0;
}

html,body {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--primary-font);
  background-color: var(--bg-color-1);
  color: var(--txt-color-1);
}

header {
  height: 60px;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 10px;
}

footer {
  position: absolute;
  bottom: 0;
  height: 30px;
  width: 100%;
  margin: 0;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--bg-color-2);
}

  