<head>
    <script src="static/scripts/displaychart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="static/styles/dashboard.css">
</head>

<div class="grid">
    <div class="grid-item chart" id="canvas-container">
        <canvas id="Chart" aria-label="Chart" role="svg">
            <p>Error Displaying Content</p>
        </canvas>
    </div>
    <div class="grid-item forecast">
        <div id="forecast-wrapper" class="forecast-form-wrapper">
            <h1>Forecast</h1>

        </div>
    </div>
    <div class="grid-item analysis">
        3
    </div>
    <div class="grid-item analysis">
        4
    </div>
    <div class="grid-item analysis">
        5
    </div>
</div>
<script>
    // TODO: make sure the 'active forecast stays visible'
    document.addEventListener("forecastsChanged", (event) => {
        const current_forecasts = event.detail;
        const container = document.getElementById('forecast-wrapper');

        document.querySelectorAll('.forecast-btn').forEach(button => {
            button.remove();
        });

        current_forecasts.forEach(forecast => {
            const div = document.createElement("div");
            div.classList.add("forecast-btn");
            div.textContent = forecast;

            div.addEventListener("click", () => {
                // Remove "active" class from all forecast divs
                document.querySelectorAll(".forecast-btn").forEach(btn => btn.classList.remove("active"));
                div.classList.add('active');

                // Write Forecast Lines
                fetch(`http://localhost:8001/forecast?name=${forecast}`)
                    .then(response => {
                        return response.json()
                    }).then(responseJSON => {
                        console.log(responseJSON);
                        document.dispatchEvent(new CustomEvent("activeChartChanged", { detail: responseJSON.content }));
                    }).catch(error => {
                        console.error("Error ", error);
                    })
            });

            container.appendChild(div);
        });
    });
</script>