<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AnalysisApp</title>

    <!-- Font Links -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <!-- StyleSheet Links -->
    <link rel="stylesheet" href="static/styles/index.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- Script Links -->
    <script src="static/scripts/switchTheme.js" defer></script>
    <script type="text/javascript">
        var charts = {{ charts | tojson }};
        var models = {{ models | tojson }};
        var forecasts = {{ forecasts | tojson }}
    </script>
</head>

<body>
    <header>
        {% include "navbar.jinja2" %}
    </header>

    <main>
        {% include "dashboard.jinja2" %}
    </main>

    <footer>
        {% include "footer.jinja2" %}
    </footer>
</body>

</html>