<head>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="static/styles/navbar.css">

    <!-- Scripts -->
    <script src="static/scripts/switchTheme.js" defer></script>
</head>

<nav>
    <ul>
        {% for chart in charts %}
        <li>
            <div onclick="toggleActive(this)">{{ chart }}</div>
        </li>
        {% endfor %}
        <li>
            <div class="theme-switch-btn" onclick="changeTheme()">
                <i class="bx bxs-sun" id="theme-icon"></i>
            </div>
        </li>
    </ul>
</nav>
<script>
    // First Chart is always active when page loads
    document.addEventListener('DOMContentLoaded', function () {
        const firstChartName = document.querySelector('nav ul li div');
        if (firstChartName) {
            toggleActive(firstChartName);
        }
    });

    function toggleActive(element) {
        if (element.classList.contains('active')) {
            element.classList.remove('active');
        } else {
            document.querySelectorAll('nav ul li div').forEach(div => {
                div.classList.remove('active');
            });
            element.classList.toggle('active');

            let content = element.textContent.trim();
            window.currentChartName = content;
            document.dispatchEvent(new CustomEvent("activeChartChanged", { detail: content }));
        }
    };
</script>