<head>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="static/styles/navbar.css">
    <link rel="stylesheet" href="static/styles/index.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- Scripts -->
    <script src="static/scripts/switchTheme.js" defer></script>
</head>

<nav>
    <ul>
        <li>
            <div>Chart1</div>
        </li>
        <li>
            <div>Chart2</div>
        </li>
        <li>
            <div>Chart3</div>
        </li>
        <li>
            <div class="theme-switch-btn" onclick="changeTheme()">
                <i class="bx bxs-sun" id="theme-icon"></i>
            </div>
        </li>
    </ul>
</nav>