<head>
    <script src="static/scripts/displayAccuracyUncertainty.js"></script>
    <link rel="stylesheet" href="static/styles/bubbleChart.css">
</head>

<h3>Accuracy vs Uncertainty</h3>
<p>Lower is better</p>
<div id="bubble-chart-wrapper" class="bubble-chart-wrapper">
    <canvas id="bubbleChart"></canvas>
</div>