<head>
    <script src="static/scripts/displaychart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="static/styles/dashboard.css">
</head>

<div class="grid">
    <div class="grid-item chart" id="canvas-container">
        <canvas id="Chart" aria-label="Chart" role="svg">
            <p>Error Displaying Content</p>
        </canvas>
    </div>
    <div class="grid-item forecast">
        {% include "forecast.jinja2" %}
    </div>
    <div class="grid-item analysis bubble">
        {% include "bubbleChart.jinja2" %}
    </div>
    <div class="grid-item analysis heatmap">
        {% include "residualDensityChart.jinja2" %}
    </div>
    <div class="grid-item analysis interval">
        {% include "intervalChart.jinja2" %}
    </div>
</div>