<head>
    <!-- Stylesheet Links -->
    <link rel="stylesheet" href="static/styles/footer.css">
</head>

<ul>
    <li>
        <a href="https://www.linkedin.com/in/ryanbendall" target="_blank">
            <i class='bx bxl-linkedin-square'></i>
            <span>/ryanbendall</span>
        </a>
    </li>
    <li>
        <a href="https://github.com/RB200468" target="_blank">
            <i class='bx bxl-github'></i>
            <span>/RB200468</span>
        </a>
    </li>
</ul>