<head>
    <script src="static/scripts/forecast.js"></script>
    <link rel="stylesheet" href="static/styles/forecast.css">
</head>

<div id="forecast-wrapper" class="forecast-form-wrapper">
    <h1>Forecasts</h1>
</div>