<head>
    <script src="static/scripts/displayHeatmap.js"></script>
    <link rel="stylesheet" href="static/styles/heatmapChart.css">
</head>

<h3>Performance Metrics Over Time</h3>
<p>Lighter is better</p>
<div id="heatmap-chart-wrapper" class="heatmap-chart-wrapper">
    <div id="heatmapChart"></div>
    <div id="hm-dot-container"></div>
</div>