<head>
    <script src="static/scripts/displayIntervalChart.js"></script>
    <link rel="stylesheet" href="static/styles/intervalChart.css">
</head>

<h3>Prediction Interval</h3>
<p>Smaller interval is better</p>
<div id="interval-chart-wrapper" class="interval-chart-wrapper">
    <canvas id="intervalChart"></canvas>
</div>
<div id="dot-container"></div>