<head></head>
<script src="static/scripts/displayResidualDensity.js"></script>
<link rel="stylesheet" href="static/styles/residualDensityChart.css">
</head>

<h3>RMSE Kernel Density Estimation</h3>
<p>Estimating Error metric distribution</p>
<div id="density-chart-wrapper" class="density-chart-wrapper">
    <div id="densityChart"></div>
</div>